.menu-container {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    background-color: lightcoral;
    height: 100%;

}

.instructions-container {
    display: flex;
    flex-flow: row nowrap;
    order: 1;
    flex: 1;
}

.title {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    margin: 0;
    order: 1;
    padding-bottom: .5em;
    padding-left: 0.25em;
}
.instructions {
    flex: 1;
    order: 1;
    font-size: 2em;
    padding-left: .25em;
}

.instructions-list {
    flex: 3;
    order: 2;
}


#play-button {
    background-color: lightgreen;
    border: none;
    font-size: 10em;
    flex: 2;
    order: 2;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}


.game {
    display: flex;
    justify-content: center;
}

#guessForm-label {
    flex: 1;
    order: 1;
    font-size: 2em;
    margin-bottom: 1em;
    justify-content: center;
}
a
#guessForm-input {
    flex: 2;
    order: 3;
    font-size: 1em;
    justify-self: center;
    text-align: center;
    margin-bottom: 1em;
}

#guessForm-submit {
    flex: 2;
    order: 2;
    background-color: green;
    border: none;
    font-size: 3em;
    margin-bottom: 1em;
}